/* Container */
.qualifications-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

/* Page Header */
.page-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.4rem;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #e0e0e0;
}

.page-title {
  color: var(--text-primary);
  font-family: var(--font-primary);
  font-size: 24px;
}

.page-description {
  color: var(--text-secondary);
  font: var(--font-secondary);
  font-size: 16px;
}

/* Search Container */
.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-search {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
  max-width: 500px;
}

.list-search-input {
  flex: 1;
  padding: 0.75rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  font-size: 1rem;
  transition: border-color 0.3s;
  outline: none;
}

.list-search-input:focus {
  border-color: var(--background-secondary);
  box-shadow: 0 0 0 3px rgba(76, 175, 80, 0.1);
}

.list-search-button {
  padding: 0.75rem 1.25rem;
  background-color: var(--background-secondary);
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.list-search-button:hover {
  background-color: var(--background-secondary-hover);
}

.list-search-icon {
  width: 20px;
  height: 20px;
  filter: brightness(0) invert(1); /* Makes icon white */
}

/* Buttons */
.btn {
  font-family: var(--font-primary);
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.btn-primary {
  background-color: var(--background-secondary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--background-secondary-hover);
}

.btn-success {
  background-color: #2196f3;
  color: white;
}

.btn-success:hover {
  background-color: #0b7dda;
}

.btn-secondary {
  background-color: #757575;
  color: white;
}

.btn-secondary:hover {
  background-color: #616161;
}

.btn-warning {
  background-color: #ff9800;
  color: white;
}

.btn-warning:hover {
  background-color: #e68900;
}

.btn-danger {
  background-color: #f44336;
  color: white;
}

.btn-danger:hover {
  background-color: #da190b;
}

.btn-info {
  background-color: #2196f3;
  color: white;
}

.btn-info:hover {
  background-color: #0b7dda;
}

.btn-sm {
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
