<table>
  <tr>
    <app-navigation></app-navigation>
    <td>

      <table>
        <tr>
          <td>
            <div class="message_content">
              <h1>Willkommen zurück, Ali</h1>
              <p>Hier ist Ihre Personalübersicht für heute.</p>
            </div>
          </td>
          <td>
            <div class="logout_content">
              <h1>Ali Marandi</h1>
              <button (click)="navigate('logout')">Logout</button>
            </div>
          </td>
        </tr>
      </table>


      <div class="content_area">
        <table>
          <tr>
            <td>
              <div class="labeled_input">
                <label>Nachname:</label>
                <input type="text" #lastnameInput>
              </div>
            </td>
            <td>
              <div class="labeled_input">
                <label>Vorname:</label>
                <input type="text" #firstnameInput>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <div class="labeled_input">
                <label>Ort:</label>
                <input type="text" #locationInput>
              </div>
            </td>
            <td>
              <div class="labeled_input">
                <label>Qualifikation:</label>
                <input type="text" #qualificationInput>
              </div>
            </td>
          </tr>

          <tr class="button-orange">
            <td>
              <button (click)="applyFilter(lastnameInput.value, firstnameInput.value, locationInput.value, qualificationInput.value)">Filter anwenden</button>
            </td>
            <td>
              <button (click)="navigate('create_employee')">+ Mitarbeiter hinzufügen</button>
            </td>
          </tr>
        </table>
        <div class="table_content">
          <table>
            <tr>
              <th>Nachname</th>
              <th>Vorname</th>
              <th>Ort</th>
              <th>Actions</th>
            </tr>
            @for (employee of employees; track employee) {
            <tr>
              <td>{{employee.firstname}}</td>
              <td>{{employee.lastname}}</td>
              <td>{{employee.location}}</td>
              <td>Actions</td>
            </tr>
            }
          </table>
        </div>

      </div>

    </td>
  </tr>
</table>
