.logout_content {
  h1 {
    color: white;
    display: inline-block;
    margin: 10px;
    font-weight: lighter;
  }
  button {
    font-size: 27px;
    background: none;
    color: red;
    text-decoration: underline;
    border: none;
    border-radius: 10px;
    margin: 10px;
  }

  button:hover {
    background-color: darkorange;
  }

  button:active {
    background-color: darkgoldenrod;
  }
}

.table_content {
  table {
    border-collapse: collapse;
  }

  td {
    padding: 10px;
    color: black;
  }

  tr {
    background-color: white;
  }

  tr:nth-child(2n) {
    background-color: lightcyan;
  }

  th {
    padding: 10px;
    color: white;
    background-color: orange;
  }
}

.message_content {
  h1 {
    color: white;
  }
  p {
    color: darkgray;
  }
}
.button-orange {
  button {
    background-color: orange;
    padding: 10px;
    border: none;
    border-radius: 10px;
  }

  button:hover {
    background-color: darkorange;
  }

  button:active {
    background-color: darkgoldenrod;
  }
}


.labeled_input {
  label {
    background-color: lightgray;
    padding: 11px;
    border: none;
    border-radius: 10px 0px 0px 10px;
    display: inline-block;
  }

  input {
    padding: 10px;
    border: 2px solid white;
    border-radius: 0px 10px 10px 0px;
  }
}

.content_area {
  padding: 10px;
}
